nav{
    margin: 0px;
    padding: 0px;
    height: 45px;
    width: 100%;
    
    background-color: #e7e7e7;
}

.button-inactive{
    margin: 0px;
    padding: 0px;
    height: 45px;
    width: 120px;   
    
    float: left;

    border: none;
    color: #555555;
    background-color: #e7e7e7;
}

.button-inactive p{
    text-align: center;
    font-size: 15px;
    text-decoration: none !important;
}

.button-inactive a{
    text-decoration: none !important; 
}

.button-active{
    margin: 0px;
    padding: 0px;
    height: 45px;
    width: 120px;
    
    float: left;

    border: none;
    color: #e7e7e7;
    background-color: #555555;
}

.button-active p{   
    text-align: center;
    font-size: 15px;   
    text-decoration: none !important; 
}

content{    
    width: 100%;
    height: 600px;

    padding: 0;
    margin: 0;

    display: flex;    
    justify-content: center;
}

#personal-album-container{
    width: 70%;
    height: fit-content;
    
    float: left;

    padding: 0;
    margin: 0;
}

#personal-album-divider{
    width: 3px;
    height: 550px;
    margin-top: 50px;

    background-color: #e7e7e7;
}

#personal-album-creator{
    width: 30%;
    height: 200px;

    float: right;
    
    padding: 0;
    margin: 0;
}

#personal-album-container header p{
    text-align: center;
    font-size: 18px;
    color: #3e3e3e;
}

#personal-album-container header h1{
    text-align: center;
    font-size: 30px;    
    color: #3e3e3e;
}

#personal-album-creator header p{
    text-align: center;
    font-size: 18px;
    color: #3e3e3e;
}

#personal-album-creator header h1{
    text-align: center;
    font-size: 30px;    
    color: #3e3e3e;
}

#personal-album-container content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    padding: 0;
    margin: 0;
}

.album-view{
    background-color: white;

    padding: 0;
    margin: 10px;

    border-radius: 20px;
    border-width: 5px;
    border: solid;
    border-color: rgb(193, 193, 193);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 250px;
    height: 400px;
}

.album-view button{
    background-color: transparent;
    border-width: 0;
    padding: 0;

    width: 250px;
    height: 250px;
}

.album-view-title{
    width: 200px;
    
    color: #3e3e3e;

    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.album-view img{
    width: 250px;
    height: 250px;
}

.album-view footer{
    width: 250px;
    height: 70px;
}

.album-view-author p, .album-view-downloads p{
    width: 200px;
    height: 20px;
    margin: 10px;
    padding: 0;
}

.album-view-author img, .album-view-downloads img{
    width: 20px;
    height: 20px;

    float: left;
    margin-right: 20px;
}

#create-new-album{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    height: 150px;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-new-album p{
    text-align: center;
    padding: 0px;
    margin: 5px;
}

textarea:focus, input:focus{
    outline: none;
}

input:invalid {
    border: 1px dashed rgb(255, 84, 84);
}

input:valid{
    border: 1px solid black;
}

.flash-success{
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    height: 50px;
    width: 250px;

    background-color: #d4edda;
    
    border-radius: 10px;
    border-width: 5px;
    border: solid;
    border-color: #c3e6cb;
}

.flash-error{
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    height: 50px;
    width: 250px;

    background-color: #f8d7da;
    
    border-radius: 10px;
    border-width: 5px;
    border: solid;
    border-color: #f5c6cb;
}

.flash-message{
    border: 0;
    padding: 0;
    font-size: 17px;
    text-align: center;
}